## Week 2 Session 1 Exercises

### 1. Web scraping

Use la libreria requests y bs4 para extraer todos los links dentro de la URL: 'https://en.wikipedia.org/wiki/Main_Page'. TIP: use los elementos 'href' para encontrar los links.

In [4]:
# Escriba su código acá

### 2. Pandas

In [5]:
import pandas as pd

1. Cree una Series con la lista 

`lista = [2, 4, 5, 6, 9]`
pero que contenga indexes impares solamente

2. Convierta la lista 2D, en un DF usando los nombres de columnas `['id', 'name', 'age']`.

`lista_2D = [[2, 'Alberto', 22], [1, 'Roberto', 25], [1, 'Gilberto', 24]]`

3. Cree un nuevo DF a partir del DF resultante del ejercicio 2 pero ordenando los valores por 'id'

4. Extraiga las primeras dos filas del pasado DF resultante del ejercicio3.

5. Extraiga el segundo valor del DF resultante del ejercicio3 pero sólo para la columna 'name'.

6. Cree un nuevo dataframe del DF del ejercicio 2 pero con la condicion de que el valor de 'age' sea mayor o igual a 24.